<!DOCTYPE HTML>
<html>
<head>
	<title>JabRef references</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript">
		<!--
// QuickSearch script for JabRef HTML export 
// Version: 3.0
//
// Copyright (c) 2006-2011, Mark Schenk
//
// This software is distributed under a Creative Commons Attribution 3.0 License
// http://creativecommons.org/licenses/by/3.0/
//
// Features:
// - intuitive find-as-you-type searching
//    ~ case insensitive
//    ~ ignore diacritics (optional)
//
// - search with/without Regular Expressions
// - match BibTeX key
//

// Search settings
var searchAbstract = true;	// search in abstract
var searchComment = true;	// search in comment

var noSquiggles = true; 	// ignore diacritics when searching
var searchRegExp = false; 	// enable RegExp searches


if (window.addEventListener) {
	window.addEventListener("load",initSearch,false); }
	else if (window.attachEvent) {
		window.attachEvent("onload", initSearch); }

		function initSearch() {
	// check for quick search table and searchfield
	if (!document.getElementById('qs_table')||!document.getElementById('quicksearch')) { return; }

	// load all the rows and sort into arrays
	loadTableData();
	
	//find the query field
	qsfield = document.getElementById('qs_field');

	// previous search term; used for speed optimisation
	prevSearch = '';

	//find statistics location
	stats = document.getElementById('stat');
	setStatistics(-1);
	
	// set up preferences
	initPreferences();

	// shows the searchfield
	document.getElementById('quicksearch').style.display = 'block';
	document.getElementById('qs_field').onkeyup = quickSearch;
}

function loadTableData() {
	// find table and appropriate rows
	searchTable = document.getElementById('qs_table');
	var allRows = searchTable.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

	// split all rows into entryRows and infoRows (e.g. abstract, comment, bibtex)
	entryRows = new Array(); infoRows = new Array(); absRows = new Array(); revRows = new Array();

	// get data from each row
	entryRowsData = new Array(); absRowsData = new Array(); revRowsData = new Array(); 
	
	BibTeXKeys = new Array();
	
	for (var i=0, k=0, j=0; i<allRows.length;i++) {
		if (allRows[i].className.match(/entry/)) {
			entryRows[j] = allRows[i];
			entryRowsData[j] = stripDiacritics(getTextContent(allRows[i]));
			allRows[i].id ? BibTeXKeys[j] = allRows[i].id : allRows[i].id = 'autokey_'+j;
			j ++;
		} else {
			infoRows[k++] = allRows[i];
			// check for abstract/comment
			if (allRows[i].className.match(/abstract/)) {
				absRows.push(allRows[i]);
				absRowsData[j-1] = stripDiacritics(getTextContent(allRows[i]));
			} else if (allRows[i].className.match(/comment/)) {
				revRows.push(allRows[i]);
				revRowsData[j-1] = stripDiacritics(getTextContent(allRows[i]));
			}
		}
	}
	//number of entries and rows
	numEntries = entryRows.length;
	numInfo = infoRows.length;
	numAbs = absRows.length;
	numRev = revRows.length;
}

function quickSearch(){
	
	tInput = qsfield;

	if (tInput.value.length == 0) {
		showAll();
		setStatistics(-1);
		qsfield.className = '';
		return;
	} else {
		t = stripDiacritics(tInput.value);

		if(!searchRegExp) { t = escapeRegExp(t); }

		// only search for valid RegExp
		try {
			textRegExp = new RegExp(t,"i");
			closeAllInfo();
			qsfield.className = '';
		}
		catch(err) {
			prevSearch = tInput.value;
			qsfield.className = 'invalidsearch';
			return;
		}
	}
	
	// count number of hits
	var hits = 0;

	// start looping through all entry rows
	for (var i = 0; cRow = entryRows[i]; i++){

		// only show search the cells if it isn't already hidden OR if the search term is getting shorter, then search all
		if(cRow.className.indexOf('noshow')==-1 || tInput.value.length <= prevSearch.length){
			var found = false; 

			if (entryRowsData[i].search(textRegExp) != -1 || BibTeXKeys[i].search(textRegExp) != -1){ 
				found = true;
			} else {
				if(searchAbstract && absRowsData[i]!=undefined) {
					if (absRowsData[i].search(textRegExp) != -1){ found=true; } 
				}
				if(searchComment && revRowsData[i]!=undefined) {
					if (revRowsData[i].search(textRegExp) != -1){ found=true; } 
				}
			}
			
			if (found){
				cRow.className = 'entry show';
				hits++;
			} else {
				cRow.className = 'entry noshow';
			}
		}
	}

	// update statistics
	setStatistics(hits)
	
	// set previous search value
	prevSearch = tInput.value;
}


// Strip Diacritics from text
// http://stackoverflow.com/questions/990904/javascript-remove-accents-in-strings

// String containing replacement characters for stripping accents 
var stripstring = 
'AAAAAAACEEEEIIII'+
'DNOOOOO.OUUUUY..'+
'aaaaaaaceeeeiiii'+
'dnooooo.ouuuuy.y'+
'AaAaAaCcCcCcCcDd'+
'DdEeEeEeEeEeGgGg'+
'GgGgHhHhIiIiIiIi'+
'IiIiJjKkkLlLlLlL'+
'lJlNnNnNnnNnOoOo'+
'OoOoRrRrRrSsSsSs'+
'SsTtTtTtUuUuUuUu'+
'UuUuWwYyYZzZzZz.';

function stripDiacritics(str){

	if(noSquiggles==false){
		return str;
	}

	var answer='';
	for(var i=0;i<str.length;i++){
		var ch=str[i];
        var chindex=ch.charCodeAt(0)-192;   // Index of character code in the strip string
        if(chindex>=0 && chindex<stripstring.length){
            // Character is within our table, so we can strip the accent...
            var outch=stripstring.charAt(chindex);
            // ...unless it was shown as a '.'
            if(outch!='.')ch=outch;
        }
        answer+=ch;
    }
    return answer;
}

// http://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex
// NOTE: must escape every \ in the export code because of the JabRef Export...
function escapeRegExp(str) {
	return str.replace(/[-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
}

function toggleInfo(articleid,info) {

	var entry = document.getElementById(articleid);
	var abs = document.getElementById('abs_'+articleid);
	var rev = document.getElementById('rev_'+articleid);
	var bib = document.getElementById('bib_'+articleid);
	
	if (abs && info == 'abstract') {
		abs.className.indexOf('noshow') == -1?abs.className = 'abstract noshow':abs.className = 'abstract show';
	} else if (rev && info == 'comment') {
		rev.className.indexOf('noshow') == -1?rev.className = 'comment noshow':rev.className = 'comment show';
	} else if (bib && info == 'bibtex') {
		bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex show';
	} else { 
		return;
	}

	// check if one or the other is available
	var revshow; var absshow; var bibshow;
	(abs && abs.className.indexOf('noshow') == -1)? absshow = true: absshow = false;
	(rev && rev.className.indexOf('noshow') == -1)? revshow = true: revshow = false;	
	(bib && bib.className.indexOf('noshow') == -1)? bibshow = true: bibshow = false;
	
	// highlight original entry
	if(entry) {
		if (revshow || absshow || bibshow) {
			entry.className = 'entry highlight show';
		} else {
			entry.className = 'entry show';
		}
	}
	
	// When there's a combination of abstract/comment/bibtex showing, need to add class for correct styling
	if(absshow) {
		(revshow||bibshow)?abs.className = 'abstract nextshow':abs.className = 'abstract';
	} 
	if (revshow) {
		bibshow?rev.className = 'comment nextshow': rev.className = 'comment';
	}	
	
}

function setStatistics (hits) {
	if(hits < 0) { hits=numEntries; }
	if(stats) { stats.firstChild.data = hits + '/' + numEntries}
}

function getTextContent(node) {
	// Function written by Arve Bersvendsen
	// http://www.virtuelvis.com
	
	if (node.nodeType == 3) {
		return node.nodeValue;
	} // text node
	if (node.nodeType == 1 && node.className != "infolinks") { // element node
		var text = [];
		for (var chld = node.firstChild;chld;chld=chld.nextSibling) {
			text.push(getTextContent(chld));
		}
		return text.join("");
	} return ""; // some other node, won't contain text nodes.
}

function showAll(){
	closeAllInfo();
	for (var i = 0; i < numEntries; i++){ entryRows[i].className = 'entry show'; }
}

function closeAllInfo(){
	for (var i=0; i < numInfo; i++){
		if (infoRows[i].className.indexOf('noshow') ==-1) {
			infoRows[i].className = infoRows[i].className + ' noshow';
		}
	}
}

function clearQS() {
	qsfield.value = '';
	showAll();
}

function redoQS(){
	showAll();
	quickSearch(qsfield);
}

function updateSetting(obj){
	var option = obj.id;
	var checked = obj.value;

	switch(option)
	{
		case "opt_searchAbs":
		searchAbstract=!searchAbstract;
		redoQS();
		break;
		case "opt_searchComment":
		searchComment=!searchComment;
		redoQS();
		break;
		case "opt_useRegExp":
		searchRegExp=!searchRegExp;
		redoQS();
		break;
		case "opt_noAccents":
		noSquiggles=!noSquiggles;
		loadTableData();
		redoQS();
		break;
	}
}

function initPreferences(){
	if(searchAbstract){document.getElementById("opt_searchAbs").checked = true;}
	if(searchComment){document.getElementById("opt_searchComment").checked = true;}
	if(noSquiggles){document.getElementById("opt_noAccents").checked = true;}
	if(searchRegExp){document.getElementById("opt_useRegExp").checked = true;}
	
	if(numAbs==0) {document.getElementById("opt_searchAbs").parentNode.style.display = 'none';}
	if(numRev==0) {document.getElementById("opt_searchComment").parentNode.style.display = 'none';}	
}

function toggleSettings(){
	var togglebutton = document.getElementById('showsettings');
	var settings = document.getElementById('settings');
	
	if(settings.className == "hidden"){
		settings.className = "show";
		togglebutton.innerText = "close settings";
		togglebutton.textContent = "close settings";
	}else{
		settings.className = "hidden";
		togglebutton.innerText = "settings...";		
		togglebutton.textContent = "settings...";
	}
}

-->
</script>
<style type="text/css">
body { background-color: white; font-family: Arial, sans-serif; font-size: 13px; line-height: 1.2; padding: 1em; color: #2E2E2E; width: 50em; margin: auto auto; }

form#quicksearch { width: auto; border-style: solid; border-color: gray; border-width: 1px 0px; padding: 0.7em 0.5em; display:none; position:relative; }
span#searchstat {padding-left: 1em;}

div#settings { margin-top:0.7em; /* border-bottom: 1px transparent solid; background-color: #efefef; border: 1px grey solid; */ }
div#settings ul {margin: 0; padding: 0; }
div#settings li {margin: 0; padding: 0 1em 0 0; display: inline; list-style: none; }
div#settings li + li { border-left: 2px #efefef solid; padding-left: 0.5em;}
div#settings input { margin-bottom: 0px;}

div#settings.hidden {display:none;}

#showsettings { border: 1px grey solid; padding: 0 0.5em; float:right; line-height: 1.6em; text-align: right; }
#showsettings:hover { cursor: pointer; }

.invalidsearch { background-color: red; }
input[type="button"] { background-color: #efefef; border: 1px #2E2E2E solid;}

table { border: 1px gray none; width: 100%; empty-cells: show; border-spacing: 0em 0.1em; margin: 1em 0em; }
th, td { border: none; padding: 0.5em; vertical-align: top; text-align: justify; }

td a { color: navy; text-decoration: none; }
td a:hover  { text-decoration: underline; }

tr.noshow { display: none;}
tr.highlight td { background-color: #EFEFEF; border-top: 2px #2E2E2E solid; font-weight: bold; }
tr.abstract td, tr.comment td, tr.bibtex td { background-color: #EFEFEF; text-align: justify; border-bottom: 2px #2E2E2E solid; }
tr.nextshow td { border-bottom-style: none; }

tr.bibtex pre { width: 100%; overflow: auto; white-space: pre-wrap;}
p.infolinks { margin: 0.3em 0em 0em 0em; padding: 0px; }

@media print {
	p.infolinks, #qs_settings, #quicksearch, t.bibtex { display: none !important; }
	tr { page-break-inside: avoid; }
}
</style>
</head>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item ">
				<a class="nav-link" href="../index.html">Index <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" title="RQ1 - summarizes the current understandings to define what are exactly sustainable software systems" href="RQ1-understandings.html">Understandings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" title="RQ2 - summarizes the resources taken into account when considering sustainability in software systems" href="RQ2-resources.html">Resources</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" title="RQ3 - Summarizes the critical factors that hamper or contribute for developing sustainable software" href="RQ3-criticalfactors.html">Critical Factors</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" title="RQ4.1 - summarizes approaches mentioned in recent literature to achieve sustainable software" href="RQ4.1-approaches.html">Approaches</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" title="RQ4.2 - summarizes guidelines to achieve sustainable software" href="RQ4.2-guidelines.html">Guidelines</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" title="See the full list of references" href="references.html">References</a>
			</li>
			
		</ul>
	</div>
</nav>
<body>

	<form action="" id="quicksearch">
		<input type="text" id="qs_field" autocomplete="off" placeholder="Type to search..." /> <input type="button" onclick="clearQS()" value="clear" />
		<span id="searchstat">Matching entries: <span id="stat">0</span></span>
		<div id="showsettings" onclick="toggleSettings()">settings...</div>
		<div id="settings" class="hidden">
			<ul>
				<li><input type="checkbox" class="search_setting" id="opt_searchAbs" onchange="updateSetting(this)"><label for="opt_searchAbs"> include abstract</label></li>
				<li><input type="checkbox" class="search_setting" id="opt_searchComment" onchange="updateSetting(this)"><label for="opt_searchComment"> include comment</label></li>
				<li><input type="checkbox" class="search_setting" id="opt_useRegExp" onchange="updateSetting(this)"><label for="opt_useRegExp"> use RegExp</label></li>
				<li><input type="checkbox" class="search_setting" id="opt_noAccents" onchange="updateSetting(this)"><label for="opt_noAccents"> ignore accents</label></li>
			</ul>
		</div>
	</form>


	<table id="qs_table" border="1">
		<tbody>

			<tr id="Rashid2018" class="entry">
				<td><b>[1]</b> Rashid Nasir and Khan Siffat Ullah (2018), <i>"Agile practices for global software development vendors in the development of green and sustainable software"</i>, Journal of Software: Evolution and Process.  Vol. 30(10), pp. e1964. Wiley Online Library.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Rashid2018','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1002/smr.1964" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Rashid2018" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Rashid2018,
						author = {Rashid, Nasir and Khan, Siffat Ullah},
						title = {Agile practices for global software development vendors in the development of green and sustainable software},
						journal = {Journal of Software: Evolution and Process},
						publisher = {Wiley Online Library},
						year = {2018},
						volume = {30},
						number = {10},
						pages = {e1964},
						doi = {10.1002/smr.1964}
					}
				</pre></td>
			</tr>
			<tr id="Komeil2016" class="entry">
				<td><b>[2]</b>Komeil R, Jamaiah Y and Aziz D (2016), <i>"Current challenges and conceptual model of green and sustainable software engineering"</i>, Journal of Theoretical and Applied Information Technology.  Journal of Theoretical and Applied Information Technology.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Komeil2016','bibtex')">BibTeX</a>] [<a href="http://www.jatit.org/volumes/Vol94No2/18Vol94No2.pdf" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Komeil2016" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Komeil2016,
						author = {Komeil, Raisian and Jamaiah, Yahaya and Aziz, Deraman},
						title = {Current challenges and conceptual model of green and sustainable software engineering},
						journal = {Journal of Theoretical and Applied Information Technology},
						publisher = {Journal of Theoretical and Applied Information Technology},
						year = {2016},
						url = {http://www.jatit.org/volumes/Vol94No2/18Vol94No2.pdf}
					}
				</pre></td>
			</tr>
			<tr id="Rashid2016" class="entry">
				<td><b>[3]</b> Rashid N and Khan SU (2016), <i>"Developing Green and Sustainable Software Using Agile Methods in Global Software Development: Risk Factors for Vendors"</i>, In 11^th International Conference on Evaluation of Novel Software Approaches to Software Engineering (ENASE'16). Setubal, PRT , pp. 247–253. SCITEPRESS - Science and Technology Publications, Lda.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Rashid2016','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.5220/0005913802470253" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Rashid2016" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Rashid2016,
						author = {Rashid, Nasir and Khan, Siffat Ullah},
						title = {Developing Green and Sustainable Software Using Agile Methods in Global Software Development: Risk Factors for Vendors},
						booktitle = {11^th International Conference on Evaluation of Novel Software Approaches to Software Engineering (ENASE'16)},
						publisher = {SCITEPRESS - Science and Technology Publications, Lda},
						year = {2016},
						pages = {247–253},
						doi = {10.5220/0005913802470253}
					}
				</pre></td>
			</tr>
			<tr id="Salam2016" class="entry">
				<td><b>[4]</b> Salam M and Khan SU (2016), <i>"Developing green and sustainable software: Success factors for vendors"</i>, In 7^th IEEE International Conference on Software Engineering and Service Science (ICSESS'16)., Aug, 2016. , pp. 1059-1062. IEEE.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Salam2016','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1109/ICSESS.2016.7883248" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Salam2016" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Salam2016,
						author = {M. Salam and S. U. Khan},
						title = {Developing green and sustainable software: Success factors for vendors},
						booktitle = {7^th IEEE International Conference on Software Engineering and Service Science (ICSESS'16)},
						publisher = {IEEE},
						year = {2016},
						pages = {1059-1062},
						doi = {10.1109/ICSESS.2016.7883248}
					}
				</pre></td>
			</tr>
			<tr id="Garcia-Mireles2017" class="entry">
				<td><b>[5]</b> Garc&iacute;a-Mireles GA (2017), <i>"Environmental Sustainability in Software Process Improvement: a Systematic Mapping Study"</i>, In Trends and Applications in Software Engineering. , pp. 69-78. Springer International Publishing.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Garcia-Mireles2017','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1007/978-3-319-48523-2_7" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Garcia-Mireles2017" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Garcia-Mireles2017,
						author = {Garc&iacute;a-Mireles, Gabriel Alberto},
						editor = {Mejia, Jezreel and Mu&ntilde;oz, Mirna and Rocha, &Aacute;lvaro and San Feliu, Tomas and Pe&ntilde;a, Adriana},
						title = {Environmental Sustainability in Software Process Improvement: a Systematic Mapping Study},
						booktitle = {Trends and Applications in Software Engineering},
						publisher = {Springer International Publishing},
						year = {2017},
						pages = {69--78},
						doi = {10.1007/978-3-319-48523-2_7}
					}
				</pre></td>
			</tr>
			<tr id="Mourao2018" class="entry">
				<td><b>[6]</b> Mourão BC, Karita L and do Carmo Machado I (2018), <i>"Green and Sustainable Software Engineering - a Systematic Mapping Study"</i>, In 17^th Brazilian Symposium on Software Quality (SBQS'18). New York, NY, USA , pp. 121–130. Association for Computing Machinery (ACM).
					<p class="infolinks"> [<a href="javascript:toggleInfo('Mourao2018','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1145/3275245.3275258" target="_blank">DOI</a>] [<a href="https://doi.org/10.1145/3275245.3275258" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Mourao2018" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Mourao2018,
						author = {Mourão, Brunna C. and Karita, Leila and do Carmo Machado, Ivan},
						title = {Green and Sustainable Software Engineering - a Systematic Mapping Study},
						booktitle = {17^th Brazilian Symposium on Software Quality (SBQS'18)},
						publisher = {Association for Computing Machinery (ACM)},
						year = {2018},
						pages = {121–130},
						url = {https://doi.org/10.1145/3275245.3275258},
						doi = {10.1145/3275245.3275258}
					}
				</pre></td>
			</tr>

			<tr id="Garcia-mireles2018" class="entry">
				<td><b>[7]</b> Garc&iacute;a-Mireles GA and Villa-Mart&iacute;nez HA (2018), <i>"Practices for Addressing Environmental Sustainability through Requirements Processes"</i>, In Trends and Applications in Software Engineering. , pp. 61-70. Springer International Publishing.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Garcia-mireles2018','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1007/978-3-319-69341-5_6" target="_blank">DOI</a>] [<a href="https://doi.org/10.1007/978-3-319-69341-5_6" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Garcia-mireles2018" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Garcia-mireles2018,
						author = {Garc&iacute;a-Mireles, Gabriel Alberto and Villa-Mart&iacute;nez, H&eacute;ctor Antonio},
						editor = {Mejia, Jezreel and Mu&ntilde;oz, Mirna and Rocha, &Aacute;lvaro and Qui&ntilde;onez, Yadira and Calvo-Manzano, Jose},
						title = {Practices for Addressing Environmental Sustainability through Requirements Processes},
						booktitle = {Trends and Applications in Software Engineering},
						publisher = {Springer International Publishing},
						year = {2018},
						pages = {61--70},
						url = {https://doi.org/10.1007/978-3-319-69341-5_6},
						doi = {10.1007/978-3-319-69341-5_6}
					}
				</pre></td>
			</tr>

			<tr id="Moises2018" class="entry">
				<td><b>[8]</b> Moises AC, Malucelli A and Reinehr S (2018), <i>"Practices of Energy Consumption for Sustainable Software Engineering"</i>, In 9^th International Green and Sustainable Computing Conference (IGSC'2018)., Oct, 2018. , pp. 1-6. IEEE.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Moises2018','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1109/IGCC.2018.8752151" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Moises2018" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Moises2018,
						author = {A. C. Moises and A. Malucelli and S. Reinehr},
						title = {Practices of Energy Consumption for Sustainable Software Engineering},
						booktitle = {9^th International Green and Sustainable Computing Conference (IGSC'2018)},
						publisher = {IEEE},
						year = {2018},
						pages = {1-6},
						doi = {10.1109/IGCC.2018.8752151}
					}
				</pre></td>
			</tr>

			<tr id="Marimuthu2017" class="entry">
				<td><b>[9]</b> Marimuthu C and Chandrasekaran K (2017), <i>"Software Engineering Aspects of Green and Sustainable Software: A Systematic Mapping Study"</i>, In 10^th Innovations in Software Engineering Conference (ISEC'17). New York, NY, USA , pp. 34–44. Association for Computing Machinery.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Marimuthu2017','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1145/3021460.3021464" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Marimuthu2017" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Marimuthu2017,
						author = {Marimuthu, C. and Chandrasekaran, K.},
						title = {Software Engineering Aspects of Green and Sustainable Software: A Systematic Mapping Study},
						booktitle = {10^th Innovations in Software Engineering Conference (ISEC'17)},
						publisher = {Association for Computing Machinery},
						year = {2017},
						pages = {34–44},
						doi = {10.1145/3021460.3021464}
					}
				</pre></td>
			</tr>

			<tr id="Wolfram2017" class="entry">
				<td><b>[10]</b> Wolfram N, Lago P and Osborne F (2017), <i>"Sustainability in software engineering"</i>, In Sustainable Internet and ICT for Sustainability (SustainIT'17). (1), pp. 1-7. IEEE.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Wolfram2017','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.23919/sustainit.2017.8379798" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Wolfram2017" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Wolfram2017,
						author = {Wolfram, Nina and Lago, Patricia and Osborne, Francesco},
						title = {Sustainability in software engineering},
						booktitle = {Sustainable Internet and ICT for Sustainability (SustainIT'17)},
						publisher = {IEEE},
						year = {2017},
						number = {1},
						pages = {1--7},
						doi = {10.23919/sustainit.2017.8379798}
					}
				</pre></td>
			</tr>

			<tr id="Berntsen2017" class="entry">
				<td><b>[11]</b> Berntsen KR, Olsen MR, Limbu N, Tran AT and Colomo-Palacios R (2017), <i>"Sustainability in Software Engineering - A Systematic Mapping"</i>, In International Conference on Software Process Improvement. , pp. 23-32. Springer International Publishing.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Berntsen2017','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1007/978-3-319-48523-2_3" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Berntsen2017" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Berntsen2017,
						author = {Berntsen, Kristina Rakneberg and Olsen, Morten Rismo and Limbu, Narayan and Tran, An Thien and Colomo-Palacios, Ricardo},
						editor = {Mejia, Jezreel and Mu&ntilde;oz, Mirna and Rocha, &Aacute;lvaro and San Feliu, Tomas and Pe&ntilde;a, Adriana},
						title = {Sustainability in Software Engineering - A Systematic Mapping},
						booktitle = {International Conference on Software Process Improvement},
						publisher = {Springer International Publishing},
						year = {2017},
						pages = {23--32},
						doi = {10.1007/978-3-319-48523-2_3}
					}
				</pre></td>
			</tr>

			<tr id="Pezenstadler2012" class="entry">
				<td><b>[12]</b> Penzenstadler B, Bauer V, Calero C and Franch X (2012), <i>"Sustainability in software engineering: A systematic literature review"</i>, In 16^th International Conference on Evaluation Assessment in Software Engineering (EASE'12)., May, 2012. , pp. 32-41. Institution of Engineering and Technology (IET).
					<p class="infolinks"> [<a href="javascript:toggleInfo('Pezenstadler2012','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1049/ic.2012.0004" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Pezenstadler2012" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Pezenstadler2012,
						author = {B. Penzenstadler and V. Bauer and C. Calero and X. Franch},
						title = {Sustainability in software engineering: A systematic literature review},
						booktitle = {16^th International Conference on Evaluation Assessment in Software Engineering (EASE'12)},
						publisher = {Institution of Engineering and Technology (IET)},
						year = {2012},
						pages = {32-41},
						doi = {10.1049/ic.2012.0004}
					}
				</pre></td>
			</tr>


			<tr id="Salam2015" class="entry">
				<td><b>[13]</b> Salam M and Khan SU (2015), <i>"Systematic Literature Review Protocol for Green Software Multi-sourcing with Preliminary Results"</i>, Pakistan Academy of sciences.  Vol. 52, pp. 285-300.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Salam2015','bibtex')">BibTeX</a>] [<a href="https://www.researchgate.net/publication/287224038_Systematic_literature_review_protocol_for_green_software_multi-sourcing_with_preliminary_results" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Salam2015" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Salam2015,
						author = {Salam, Muhammad and Khan, Siffat Ullah},
						title = {Systematic Literature Review Protocol for Green Software Multi-sourcing with Preliminary Results},
						journal = {Pakistan Academy of sciences},
						year = {2015},
						volume = {52},
						pages = {285--300},
						url = {https://www.researchgate.net/publication/287224038_Systematic_literature_review_protocol_for_green_software_multi-sourcing_with_preliminary_results}
					}
				</pre></td>
			</tr>


			<tr id="Pezenstadler2014" class="entry">
				<td><b>[14]</b> Penzenstadler B, Raturi A, Richardson D, Calero C, Femmer H and Franch X (2014), <i>"Systematic Mapping Study on Software Engineering for Sustainability (SE4S)"</i>, In 18^th International Conference on Evaluation and Assessment in Software Engineering (EASE'14). New York, NY, USA , pp. 1-14. Association for Computing Machinery (ACM).
					<p class="infolinks"> [<a href="javascript:toggleInfo('Pezenstadler2014','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1145/2601248.2601256" target="_blank">DOI</a>] [<a href="https://doi.org/10.1145/2601248.2601256" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Pezenstadler2014" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Pezenstadler2014,
						author = {Penzenstadler, Birgit and Raturi, Ankita and Richardson, Debra and Calero, Coral and Femmer, Henning and Franch, Xavier},
						title = {Systematic Mapping Study on Software Engineering for Sustainability (SE4S)},
						booktitle = {18^th International Conference on Evaluation and Assessment in Software Engineering (EASE'14)},
						publisher = {Association for Computing Machinery (ACM)},
						year = {2014},
						pages = {1--14},
						url = {https://doi.org/10.1145/2601248.2601256},
						doi = {10.1145/2601248.2601256}
					}
				</pre></td>
			</tr>

			<tr id="Anwar2017" class="entry">
				<td><b>[15]</b> Anwar H and Pfahl D (2017), <i>"Towards Greener Software Engineering Using Software Analytics: A Systematic Mapping"</i>, In 43^rd Euromicro Conference on Software Engineering and Advanced Applications (SEAA'17)., Aug, 2017. , pp. 157-166. IEEE.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Anwar2017','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1109/SEAA.2017.56" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Anwar2017" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Anwar2017,
						author = {H. Anwar and D. Pfahl},
						title = {Towards Greener Software Engineering Using Software Analytics: A Systematic Mapping},
						booktitle = {43^rd Euromicro Conference on Software Engineering and Advanced Applications (SEAA'17)},
						publisher = {IEEE},
						year = {2017},
						pages = {157-166},
						doi = {10.1109/SEAA.2017.56}
					}
				</pre></td>
			</tr>
			<tr id="Ahmad2014" class="entry">
				<td><b>[16]</b> Ahmad R, Baharom F and Hussain A (2014), <i>"A systematic literature review on sustainability studies in software engineering"</i>, In Knowledge Management International Conference (KMICe). Langkawi, Malaysia , pp. 1-6.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Ahmad2014','bibtex')">BibTeX</a>] [<a href="https://www.researchgate.net/publication/271844326_A_Systematic_Literature_Review_on_Sustainability_Studies_in_Software_Engineering" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Ahmad2014" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Ahmad2014,
						author = {Ahmad, Ruzita and Baharom, Fauziah and Hussain, Azham},
						title = {A systematic literature review on sustainability studies in software engineering},
						booktitle = {Knowledge Management International Conference (KMICe)},
						year = {2014},
						pages = {1--6},
						url = {https://www.researchgate.net/publication/271844326_A_Systematic_Literature_Review_on_Sustainability_Studies_in_Software_Engineering}
					}
				</pre></td>
			</tr>
			<tr id="Bozzelli2013" class="entry">
				<td><b>[17]</b> Bozzelli P, Gu Q and Lago P (2013), <i>"A systematic literature review on green software metrics"</i>, VU University, Amsterdam. 
					<p class="infolinks"> [<a href="javascript:toggleInfo('Bozzelli2013','bibtex')">BibTeX</a>] [<a href="https://www.sis.uta.fi/~pt/TIEA5_Thesis_Course/Session_10_2013_02_18/SLR_GreenMetrics.pdf" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Bozzelli2013" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@techreport{Bozzelli2013,
						author = {Bozzelli, Paolo and Gu, Qing and Lago, Patricia},
						title = {A systematic literature review on green software metrics},
						journal = {VU University, Amsterdam},
						year = {2013},
						url = {https://www.sis.uta.fi/&nbsp;pt/TIEA5_Thesis_Course/Session_10_2013_02_18/SLR_GreenMetrics.pdf}
					}
				</pre></td>
			</tr>
			<tr id="Calero2013" class="entry">
				<td><b>[18]</b> Calero C, Bertoa MF and Moraga MA (2013), <i>"A systematic literature review for software sustainability measures"</i>, In International Workshop on Green and Sustainable Software (GREENS'13)., May, 2013. , pp. 46-53. Association for Computing Machinery.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Calero2013','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1109/GREENS.2013.6606421" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Calero2013" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Calero2013,
						author = {C. Calero and M. F. Bertoa and M. A. Moraga},
						title = {A systematic literature review for software sustainability measures},
						booktitle = {International Workshop on Green and Sustainable Software (GREENS'13)},
						publisher = {Association for Computing Machinery},
						year = {2013},
						pages = {46-53},
						doi = {10.1109/GREENS.2013.6606421}
					}
				</pre></td>
			</tr>


			<tr id="Garcia-Mireles2018b" class="entry">
				<td><b>[19]</b> García-Mireles GA, Moraga MÁ, García F, Calero C and Piattini M (2018), <i>"Interactions between environmental sustainability goals and software product quality: A mapping study"</i>, Information and Software Technology.  Vol. 95, pp. 108 - 129. Elsevier.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Garcia-Mireles2018b','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1016/j.infsof.2017.10.002" target="_blank">DOI</a>]</p>
				</td>
			</tr>
			<tr id="bib_Garcia-Mireles2018b" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Garcia-Mireles2018b,
						author = {Gabriel Alberto García-Mireles and Mª Ángeles Moraga and Félix García and Coral Calero and Mario Piattini},
						title = {Interactions between environmental sustainability goals and software product quality: A mapping study},
						journal = {Information and Software Technology},
						publisher = {Elsevier},
						year = {2018},
						volume = {95},
						pages = {108 - 129},
						doi = {10.1016/j.infsof.2017.10.002}
					}
				</pre></td>
			</tr>	
			<tr id="Khan2015" class="entry">
				<td><b>[20]</b> Khan RU, Khan SU, Khan RA and Ali S (2015), <i>"Motivators in green IT-outsourcing from Vendor’s perspective: A systematic literature review"</i>, Pakistan Academy of Sciences.  Vol. 52(4), pp. 345-360.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Khan2015','bibtex')">BibTeX</a>] [<a href="https://www.researchgate.net/publication/286383647_Motivators_in_Green_IT-outsourcing_from_Vendor's_Perspective_A_Systematic_Literature_Review" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Khan2015" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Khan2015,
						author = {Khan, Rahmat Ullah and Khan, Siffat Ullah and Khan, Rafiq Ahmad and Ali, Sikandar},
						title = {Motivators in green IT-outsourcing from Vendor’s perspective: A systematic literature review},
						journal = {Pakistan Academy of Sciences},
						year = {2015},
						volume = {52},
						number = {4},
						pages = {345--360},
						url = {https://www.researchgate.net/publication/286383647_Motivators_in_Green_IT-outsourcing_from_Vendor's_Perspective_A_Systematic_Literature_Review}
					}
				</pre></td>
			</tr>
			
			<tr id="Koziolek2011" class="entry">
				<td><b>[21]</b> Koziolek H (2011), <i>"Sustainability Evaluation of Software Architectures: A Systematic Review"</i>, In Proceedings of the Joint ACM SIGSOFT Conference -- QoSA and ACM SIGSOFT Symposium -- ISARCS on Quality of Software Architectures -- QoSA and Architecting Critical Systems -- ISARCS. New York, NY, USA , pp. 3–12. Association for Computing Machinery (ACM).
					<p class="infolinks"> [<a href="javascript:toggleInfo('Koziolek2011','bibtex')">BibTeX</a>] [<a href="https://doi.org/10.1145/2000259.2000263" target="_blank">DOI</a>] [<a href="https://doi.org/10.1145/2000259.2000263" target="_blank">URL</a>]</p>
				</td>
			</tr>
			<tr id="bib_Koziolek2011" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Koziolek2011,
						author = {Koziolek, Heiko},
						title = {Sustainability Evaluation of Software Architectures: A Systematic Review},
						booktitle = {Proceedings of the Joint ACM SIGSOFT Conference -- QoSA and ACM SIGSOFT Symposium -- ISARCS on Quality of Software Architectures -- QoSA and Architecting Critical Systems -- ISARCS},
						publisher = {Association for Computing Machinery (ACM)},
						year = {2011},
						pages = {3–12},
						url = {https://doi.org/10.1145/2000259.2000263},
						doi = {10.1145/2000259.2000263}
					}
				</pre></td>
			</tr>

			<tr id="Nazir2020b" class="entry">
				<td><b>[22]</b>Nazir S, Fatima N and Chuprat S (2020), <i>"Situational Factors for Modern Code Review to Support Software Engineers' Sustainability"</i>, International Journal of Advanced Computer Science and Applications.  Vol. 11(1) The Science and Information Organization.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Nazir2020b','bibtex')">BibTeX</a>]</p>
				</td>
			</tr>
			<tr id="bib_Nazir2020b" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Nazir2020b,
						author = {Sumaira Nazir and Nargis Fatima and Suriayati Chuprat},
						title = {Situational Factors for Modern Code Review to Support Software Engineers' Sustainability},
						journal = {International Journal of Advanced Computer Science and Applications},
						publisher = {The Science and Information Organization},
						year = {2020},
						volume = {11},
						number = {1}
					}
				</pre></td>
			</tr>


			<tr id="Nazir2020" class="entry">
				<td><b>[23]</b>Nazir S, Fatima N, Chuprat S, Sarkan H, Nurulhuda F and Sjarif NN (2020), <i>"Sustainable Software Engineering:A Perspective of Individual Sustainability"</i>, International Journal on Advanced Science, Engineering and Information Technology., April, 2020.  Vol. 10(2), pp. 676. Insight Society.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Nazir2020','bibtex')">BibTeX</a>]</p>
				</td>
			</tr>
			<tr id="bib_Nazir2020" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@article{Nazir2020,
						author = {Sumaira Nazir and Nargis Fatima and Suriayati Chuprat and Haslina Sarkan and Nurulhuda F and Nilam N.A. Sjarif},
						title = {Sustainable Software Engineering:A Perspective of Individual Sustainability},
						journal = {International Journal on Advanced Science, Engineering and Information Technology},
						publisher = {Insight Society},
						year = {2020},
						volume = {10},
						number = {2},
						pages = {676}
					}
				</pre></td>
			</tr>


			<tr id="Debbarma2016" class="entry">
				<td><b>[24]</b>Debbarma T and Chandrasekaran K (2016), <i>"Green measurement metrics towards a sustainable software: A systematic literature review"</i>, In International Conference on Recent Advances and Innovations in Engineering. Jaipur, India, December, 2016.  IEEE.
					<p class="infolinks"> [<a href="javascript:toggleInfo('Debbarma2016','bibtex')">BibTeX</a>]</p>
				</td>
			</tr>
			<tr id="bib_Debbarma2016" class="bibtex noshow">
				<td><b>BibTeX</b>:
					<pre>
						@inproceedings{Debbarma2016,
						author = {Tribid Debbarma and K Chandrasekaran},
						title = {Green measurement metrics towards a sustainable software: A systematic literature review},
						booktitle = {International Conference on Recent Advances and Innovations in Engineering},
						publisher = {IEEE},
						year = {2016}
					}
				</pre></td>
			</tr>

		</tbody>
	</table>

		<a href="../index.html" class="btn btn-warning">Return to index</a>
	<!-- file generated by JabRef -->
</body>
</html>