<!doctype html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Sustainable Software Systems: The Core Characteristics and Their Achievement</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
    <script type="text/javascript" src="resources/js/functions.js"></script>
  </head>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="../index.html">Index <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" title="RQ1 - summarizes the current understandings to define what are exactly sustainable software systems" href="RQ1-understandings.html">Understandings</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" title="RQ2 - summarizes the resources taken into account when considering sustainability in software systems" href="RQ2-resources.html">Resources</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" title="RQ3 - Summarizes the critical factors that hamper or contribute for developing sustainable software" href="RQ3-criticalfactors.html">Critical Factors</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" title="RQ4.1 - summarizes approaches mentioned in recent literature to achieve sustainable software" href="RQ4.1-approaches.html">Approaches</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" title="RQ4.2 - summarizes guidelines to achieve sustainable software" href="RQ4.2-guidelines.html">Guidelines</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" title="See the full list of references" href="references.html">References</a>
        </li>
      </ul>
    </div>
  </nav>


  <body>
    <div class="container">
      <h1 class="jumbotron" style="text-align:center">Sustainable Software Systems: The Core Characteristics and Their Achievement</h1>
      <div style="margin-top:3em; margin-bottom: 3em;">
        <div>To define what is exactly what sustainable software is, we gathered from the literature the following text passages that somehow define the main characteristics of sustainable software. The passages show the current comprehension in software engineering about sustainable software considering the multiple dimensions involved (environmental, social, economic, technical, and individual). </div>
      </div>

      <div class="accordion" style="margin-bottom: 2em;" id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne" style="background-color: #efefef;">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Click here to check raw text passages
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <table class="table table-bordered table-hover table-striped" style="text-align: center;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 20%; text-align: center;">ID</th>
                    <th scope="col" style="width: 50%; text-align: center;">Text Passages</th>
                    <th scope="col" style="width: 50%; text-align: center;"> Comments </th>
                  </tr>        
                </thead>
                <tbody>

                 <tr>
                  <td>S1</td>
                  <td>Green and sustainable software is the design and production of software, having direct or indirect negative effect on country's economy, people, society and environment that result from software pre‐development, development and post‐development phases are negligible and/or which have a positive impact on sustainable production.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S1</td>
                  <td>In agile methods, “code is documentation” that avoids nonessential deliverables during software development, which results in greener SDLC. In noncritical software systems, extensive documentations do not fit to the needs of software projects, hence should be minimized for environment‐friendly software development.</td>
                  <td>Is a software that avoids non essential deliverables during software development. Also is a project that avoid extensive documentations.</td>
                </tr>
                <tr>
                  <td>S1</td>
                  <td>Abbas et al99 argue that agile software developers focus on polymorphic design that fit to meet the long‐term goals of the project. Sustainability of a software project can be compromised if the agile software developers do not consider the impact of simple and polymorphic design in software development.</td>
                  <td>Is a software that is polymorphic and fits to meet the long-term goals of project</td>
                </tr>
                <tr>
                  <td>S1</td>
                  <td>Erdelyi45 examines the activities of SDLC from environmental perspectives. The author argues the role of well‐behaved software development in eco‐sustainability, ie, software that requires less effort for development and consumes less energy. The author examines software engineering processes enhanced with green practices for the development of eco‐friendly software.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S2</td>
                  <td>To start with, a definition displayed as Green and Sustainable Software is software, whose immediate and backhanded negative effects on economy, society, individuals, and environment that come from advancement, organization, and use of the software are negligible and/or which positively affects sustainable improvement 13, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S2</td>
                  <td>Nowadays apart from cost, factors such as environment, social, and human sustainability are required to be considered in any planning program, implementation and running software system. Sustainability, normally known as addressing "the requirements of the present without trading off the capacity of future eras to fulfil their own particular needs", is a critical segment of society, government and finance</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S2</td>
                  <td>Financial investments ought to be kept up. The meaning of profit as the sum a person can spend amid a period and still be doing well toward the end of the period can characterize economic sustainability, as it decays on expending interest, as opposed to capital. In various cases, the current monetary circumstance is viewed as a sort of benchmark for assessing choices on their environmental effect. This holds especially for the LCA related studies (e.g. 25, 26,  or those incorporating AHP 27, 28, .</td>
                  <td>Definition of economic sustainable software</td>
                </tr>
                <tr>
                  <td>S3</td>
                  <td>Green and sustainable software is the design and production of software, having direct or indirect negative effect on country's economy, people, society and environment that result from software pre‐development, development and post‐development phases are negligible and/or which have a positive impact on sustainable production.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S4</td>
                  <td>Green and sustainable software is clearly elaborated in the literature as "the software, whose direct and indirect negative impacts on economy, society, human beings, and environment that result from development, deployment, and usage of the software are minimal and/or which has a positive  effect on sustainable development" 9, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S4</td>
                  <td>According to 12, , green software generates as tiny e-waste as possible during its operation and development. Literature reveals that the effect of ICTs on sustainable development particularly on software is a burning issue in green computing now a days 13, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S5</td>
                  <td>“software which direct and indirect impacts on economy, society, human being, and environment that result from development, deployment and usage of the software are minimal and/or which has a positive effect on sustainable development” 6, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S5</td>
                  <td>Green software is an application that produces as little waste as possible during its development and operation 5, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S6</td>
                  <td>Green SE aims to create reliable and durable software that meets users’ needs while reducing environmental impacts 1, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S7</td>
                  <td>software, whose impacts on economy, society, human beings, and environment that result from development, deployment, and usage\nof the software are minimal and/or which have a positive effect on sustainable development” 1, </td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S8</td>
                  <td>Green IN Software or Sustainable Software Engineering means the software development process where practical application of sustainability aspects takes place. For instance, software that complies with customer software requirements causing less changes during it scope 7, , 8, </td>
                  <td>softwares que possuem uma coleta de requisitos efetivos que são atendidos como necessidades dos clientes e terão o mínimo de alterações no escopo do projeto</td>
                </tr>
                <tr>
                  <td>S9</td>
                  <td>as the art of designing, developing, using and disposing the software product that is long-lasting and energy efficient in order to reduce the negative impact on the environment.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S11</td>
                  <td>Definition 1: “Sustainable software is software whose direct and indirect negative impacts on economy, society, human beings, and the environment resulting from development, and usage of the software is minimal and/or has positive effect on sustainable development” 5, . Definition 2: “The art of developing sustainable software with a sustainable software engineering process so that negative and positive impacts result in and/or are expected to result from the software product over its whole life cycle are continuously assessed, documented, and used for further optimization of the software product” 6, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S12</td>
                  <td>The most cited definition of sustainable development 5,  is to “meet the needs of the present without compromising the ability of future generations to satisfy their own needs.” According to 5, , sustainable development needs to satisfy the requirements of the three dimensions of society, economy, and environment. A fourth dimension, human sustainability, is less present in the public discussion</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S12</td>
                  <td>“meet the needs of the present without compromising the ability of future generations to satisfy their own needs.”</td>
                  <td>Is a software that met all the needs of the present without compromising the ability of future generations to satisfy their own needs.</td>
                </tr>
                <tr>
                  <td>S12</td>
                  <td>Development process aspect: Sustainability in the initial system development process (with responsible use of ecological, human, and financial resources). This aspect focusses on the initial conceptual and constructional development and we distinguish it from the late phase of actual system production for reasons of analysis. Maintenance process aspect: Sustainability of the software system during its maintenance period until replacement by a new system (with continuous monitoring of quality, knowledge management).</td>
                  <td>A green software is produced with a responsible use of resources. Also, it aims to mantain its viability during a maintenance period or replacement by a new system.</td>
                </tr>
                <tr>
                  <td>S13</td>
                  <td>Green Software has been defined in the literature as, that Software, whose direct and indirect negative influences on economy/humanity/ human  beings/environment due to its creation deployment, and usage minimal and/or which has a positive consequence on sustainable development 21, </td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S14</td>
                  <td>Therefore, in our context, sustainable software is energy-efficient, minimizes the environmental impact of the processes it supports, and has a positive impact on social and/or economic sustainability (1 &amp; 2). These impacts can occur direct (energy), indirect (mitigated by service) or as rebound effect 3, . The aim of Software Engineering for Sustainability (SE4S) is to make use of methods and tools in order to achieve this notion of sustainable software</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S15</td>
                  <td>A sustainable software is the one which is developed and used in such a way that it leaves a minimum negative impact on users, environment, economy and society in general 2, </td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S16</td>
                  <td>as the development of the software product for long living systems that can meet the needs of the present to the future generations with the integration of the three pillars sustainability concept i.e. (environment, economic, social) as to fulfill the requirements in a timely basis(Brundland Commission Report, 1987).</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S18</td>
                  <td>Sustainable Software is software, whose direct and indirect negative impacts on economy, society, human beings, and\nenvironment that result from development, deployment, and usage of the software are minimal and/or which have a positive\neffect on sustainable development 1, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S18</td>
                  <td>Table 2 - PRODUCT QUALITY MODEL OF 25010+S PROPOSED IN 4, </td>
                  <td>A sustainable software is a system that manage time and resources used. Easily learnable and acessible, reusable, modifiable and adaptable</td>
                </tr>
                <tr>
                  <td>S19</td>
                  <td>“software, whose impacts on economy, society, human beings, and environment that result from development, deployment and usage of the software are minimal and/or which have a positive effect on sustainable development” 1, </td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S19</td>
                  <td>In enviromental dimension, sustainable software promotes energy efficiency, minimizes the environmental impact of the processes it supports, and has a positive impact on social and/or economic sustainability 4, .</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S19</td>
                  <td>Green in software is related to how to make software in a more sustainable way in order to develop a more sustainable software product, i.e., to develop a more environment-friendly software. On the other hand, green by software refers to software developed for domains focusing on the preservation of the environment, as well as to software that helps to manage energy-intensive applications.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S19</td>
                  <td>Penzendstadler et al. 4,  interpret sustainable software in two ways: as software code that is sustainable, agnostic of purpose; and also as a software purpose directed at achieving sustainability goals.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S20</td>
                  <td>The primary goal of the emerging discipline of IT sustainability  is  to  enable  firms  to  use  computing resources  more  efficiently  while  maintaining  or  increasing  overall  performance.</td>
                  <td>Green software uses computing resources more efficiently while mantaining or increasing overall performance.</td>
                </tr>
                <tr>
                  <td>S21</td>
                  <td>Long-living software systems are sustainable if they can be cost-efficiently maintained and evolved over their entire lifecycle. The quality of software architectures determines sustainability to a large extent.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S21</td>
                  <td>Definition 1. A software-intensive system is long-living if it must be operated for more than 15 years.\n</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S21</td>
                  <td>Definition 2. A long-living software system is sustainable if it can be cost-efficiently maintained and evolved over its entire life-cycle.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S21</td>
                  <td>The opposite of a sustainable software system is a longliving system that cannot be adapted to changing requirements and environments due to unjustifiable costs or even technical infeasibility. The architecture of a sustainable system may evolve during its life-cycle, but the fulfillment of customer requirements within timing, budget, and quality constraints must be assured.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S22</td>
                  <td>Sustainability refers 'to capacity to endure' while sustainable software\nrefers to the software that can be continuously assessable, documented and maintainable.</td>
                  <td>no comments</td>
                </tr>
                <tr>
                  <td>S23</td>
                  <td>Sustainability refers 'to capacity to endure' while sustainable software\nrefers to the software that can be continuously assessable, documented and maintainable.</td>
                  <td>no comments</td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>


      <div style="margin-top:3em; margin-bottom: 3em;">
        <div>Observing the text passages, we can observe some similarities and characteristics that are mentioned several times in studies. Therefore, we created a new table to summarize these text passages and group the text passages which are similar, and applied <a href="https://ieeexplore.ieee.org/document/6092576"> thematic analysis </a> to better understand what is exactly sustainable software. </div>
      </div>

      <table class="table table-bordered table-hover table-striped" style="text-align: left;">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 20%; text-align: center;">Study</th>
            <th scope="col" style="width: 50%; text-align: center;">Understanding</th>
            <th scope="col" style="width: 50%; text-align: center;"> Characteristics </th>
          </tr>        
        </thead>
        <tbody>
         <tr>
          <td>S1, S3, S4, S5, S7, S11, S14, S18, S19, S20 </td>
          <td>Sustainable software is software whose direct and indirect negative impacts on economy, society, human beings, and the environment resulting from development, and usage of the software is minimal and/or has positive effect on sustainable development and post‐development phases are negligible and/or which have a positive impact on sustainable production.</td>
          <td>
            <ul> 
              <li> Minimal negative impacts on economy,society, human beings, and environment</li> 
              <li> Positive impact on sustainable softwareproduction</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>S4, S5, S20 </td>
          <td>Green software is a software that generates as tiny e-waste as possible during its operation and development.</td>
          <td>
            <ul> 
              <li>Less e-waste</li> 
            </ul>
          </td>
        </tr>
        <tr>
          <td>S2, S12, S16 </td>
          <td>Is a software that handles cost, environment, social, and human sustainability. Also, the requirements of the software must not trade off the capacity of future eras to fulfil their own particular needs</td>
          <td>
            <ul>
              <li> Alignment to the economic, environmental, social, and individual sustainability </li>
              <li> Less impact on future human generations</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>S6, S15 </td>
          <td>Green SE aims to create reliable and durable software that meets users’ needs while reducing environmental impacts</td>
          <td>
            <ul>
              <li>Reliable software </li> 
              <li>Long-living software </li> 
              <li>Less environmental impact</li>
            </td>

          </tr>
          <tr>
            <td>S12, S18 </td>
            <td>A sustainable software is a system that manage time and resources used. Easily learnable and acessible, reusable, modifiable and adaptable</td>
            <td>
              <ul>
                <li>Easy-to-learn software </li> 
                <li>Accessible software </li>
                <li>Reusable software </li>
                <li>Modifiable software </li>
                <li>Adaptable software</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S9, S16 </td>
            <td>A sustainable software is a software that is long-lasting or long living and energy efficient in order to reduce the negative impact on the environment.</td>
            <td>
              <ul>
                <li> Long-living software </li> 
                <li> Energy-efficiency software </li>
                <li> Less environmental impact </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S22, S23 </td>
            <td>Sustainability refers 'to capacity to endure' while sustainable software\nrefers to the software that can be continuously assessable, documented and maintainable.</td>
            <td>
              <ul>
                <li>Long-living software</li> 
                <li>Software continuously assessed </li>
                <li>Software continuously documented </li>
                <li>Software continuously maintained</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S1 </td>
            <td>Is a software that avoids non essential deliverables during software development. Also is a project that avoid extensive documentations. Is a software that is polymorphic and fits to meet the long-term goals of project. Is a software that requires less effort for development and consumes less energy.</td>
            <td>
              <ul> 
                <li>Non-extensive software documentation </li>
                <li>Essential  software  deliverable  production </li> 
                <li>Polymorphic design </li>
                <li>Satisfaction  of  current  and  long-term software goals </li> 
                <li>Less development effort</li>
                <li>Less energy consumption</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S2 </td>
            <td>Green and Sustainable Software is software, whose immediate and backhanded negative effects on economy, society, individuals, and environment that come from advancement, organization, and use of the software are negligible and/or which positively affects sustainable improvement. ...,  Economic sustainable software is a software that profits. The meaning of profit is the sum a person can spend amid a period and still be doing well toward the end of the period can characterize economic sustainability, as it decays on expending interest, as opposed to capital.  ..., </td>
            <td>
              <ul> 
                <li>Positive effect on sustainable develop-ment</li> 
                <li>Negligible effect on the economy, society, individuals, and environment</li> 
                <li>Profitable software</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S8 </td>
            <td>Green or Sustainable Software is a software that follow software development process where practical application of sustainability aspects takes place. For instance, software that complies with customer software requirements causing less changes during it scope</td>
            <td>
              <ul>
                <li>Sustainability-driven software development</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S11 </td>
            <td>Green software is a software product that over its whole life cycle are continuously assessed, documented, and used for further optimization of the software product</td>
            <td>
              <ul> 
                <li>Software continuously assessed</li> 
                <li>Software continuously documented</li> 
                <li>Software continuously reused</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S12 </td>
            <td>A green software is produced with a responsible use of resources. Also, it aims to mantain its viability during a maintenance period or replacement by a new system.</td>
            <td> 
              <ul> 
                <li> Responsible use of resources </li>
                <li> Software viability during maintenanceor replacement</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S19 </td>
            <td>In enviromental dimension, a sustainable software promotes energy efficiency, minimizes the environmental impact of the processes it supports, and has a positive impact on social and/or economic sustainability.  A sustainable software is a software that follow the guidelines to produce more environment-friendly software. On the other hand, green by software refers to software developed for domains focusing on the preservation of the environment, as well as to software that helps to manage energy-intensive applications. ...,  Sustainable software in two ways: as software code that is sustainable, agnostic of purpose; and also as a software purpose directed at achieving sustainability goals. ..., </td>
            <td>
              <ul> 
                <li>Energy efficiency</li> 
                <li>Minimal environmental impact</li> 
                <li>Positive impact on social sustainability</li> 
                <li>Positive impact on economic sustainability</li> 
                <li>Management of energy-intensive applications</li> 
                <li>Alignment to the sustainability goals</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>S20 </td>
            <td>Green software uses computing resources more efficiently while mantaining or increasing overall performance.</td>
            <td> 
              <ul> 
                <li> Software performance </li> 
                <li>Efficient computing resource consumption</li>

              </td>
            </tr>
            <tr>
              <td>S21 </td>
              <td>Long-living software systems are sustainable if they can be cost-efficiently maintained and evolved over their entire lifecycle. The quality of software architectures determines sustainability to a large extent. A software-intensive system is long-living if it must be operated for more than 15 years. The opposite of a sustainable software system is a longliving system that cannot be adapted to changing requirements and environments due to unjustifiable costs or even technical infeasibility. The architecture of a sustainable system may evolve during its life-cycle, but the fulfillment of customer requirements within timing, budget, and quality constraints must be assured.</td>
              <td> 
                <ul>
                  <li>Long-living software systems</li> 
                  <li>Cost-efficient maintenance </li>
                  <li>Continuous software evolution</li>
                  <li>Quality software architecture </li>
                  <li>Continuous evolution of software architecture</li>
                </td>
              </tr>
            </tbody>
          </table>




          <a href="../index.html" class="btn btn-warning">Return to index</a>
          <a href="reference.html" class="btn btn-warning">See references</a>

        </div>
      </body>
      </html>