<!doctype html>
	<html lang="en">
	<head>
		<!-- Required meta tags -->
		<title>Sustainable Software Systems: The Core Characteristics and Their Achievement</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="resources/css/style.css">
		<script type="text/javascript" src="resources/js/functions.js"></script>


	</head>
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href="../index.html">Index <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ1 - summarizes the current understandings to define what are exactly sustainable software systems" href="RQ1-understandings.html">Understandings</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" title="RQ2 - summarizes the resources taken into account when considering sustainability in software systems" href="RQ2-resources.html">Resources</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ3 - Summarizes the critical factors that hamper or contribute for developing sustainable software" href="RQ3-criticalfactors.html">Critical Factors</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ4.1 - summarizes approaches mentioned in recent literature to achieve sustainable software" href="RQ4.1-approaches.html">Approaches</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ4.2 - summarizes guidelines to achieve sustainable software" href="RQ4.2-guidelines.html">Guidelines</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="See the full list of references" href="references.html">References</a>
				</li>
			</ul>
		</div>
	</nav>

	<body>
		<div class="container">
			<h1 class="jumbotron jumbotron-fluid display-4" style="font-size: 2.5em;text-align:center; margin-top:2.5em"> Sustainable Software Systems: The Core Characteristics and Their Achievement</h1>
				<div>Software development is essentially an intellectual task that depends essentially on human skills. However, it is not clear which kind of resources are consumed while the software is developed and what are the impacts of this resource consumption in society, economy, environment. Therefore, we surveyed the literature and present text passages below that present evidence about which are the resources consumed that are taken into account when considering sustainability in software systems.
			</div>

			<div class="accordion" style="margin-top: 2em; margin-bottom: 2em;" id="accordion">
				<div class="card">
					<div class="card-header" id="headingOne" style="background-color: #efefef;">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Click here to check raw text passages
							</button>
						</h2>
					</div>

					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<table class="table table-bordered table-hover table-striped">
								<thead class="thead-dark">
									<tr>
										<th scope="col" style="width: 5%; text-align: center;">ID</th>
										<th scope="col" style="width: 15%; text-align: center;">Resource</th>
										<th scope="col" style="width: 80%; text-align: center;">Text Passages</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>S1</td>
										<td>Electric energy</td>
										<td>"Global software engineering aims to design, develop, and use a software with limited energy and computing resources."</td>
									</tr>
									<tr>
										<td>S1</td>
										<td>Monetary Cost</td>
										<td>"Software industries have now realized the competitive advantages of the integrated approach for producing high‐quality software with accelerated delivery, minimal cost, and flexibility to manage the requirements even late in the development process"</td>
									</tr>
									<tr>
										<td>S1</td>
										<td>Production time</td>
										<td>"Efficient utilization of time and computing resources"</td>
									</tr>
									<tr>
										<td>S2</td>
										<td>Electric energy</td>
										<td>"Then, a conceptual model is rendered demonstrating the consolidated life cycles of sustainable product and principle sustainable measurement dimensions, such as energy or information efficiency, low cost and human health."</td>
									</tr>
									<tr>
										<td>S2</td>
										<td>Monetary Cost</td>
										<td>"Then, a conceptual model is rendered demonstrating the consolidated life cycles of sustainable product and principle sustainable measurement dimensions, such as energy or information efficiency, low cost and human health."</td>
									</tr>
									<tr>
										<td>S2</td>
										<td>Human resources</td>
										<td>"Then, a conceptual model is rendered demonstrating the consolidated life cycles of sustainable product and principle sustainable measurement dimensions, such as energy or information efficiency, low cost and human health."</td>
									</tr>
									<tr>
										<td>S3</td>
										<td>Electric energy</td>
										<td>"Green software engineering aims to design, develop, and use the software with confined energy and computing resources."</td>
									</tr>
									<tr>
										<td>S3</td>
										<td>Production time</td>
										<td>"Efficient utilization of time and computing resources"</td>
									</tr>
									<tr>
										<td>S3</td>
										<td>Human resources</td>
										<td>Several studies have been conducted to shift the focus in applying agile principles and practices in GSD to get several benefits, such as lower production cost, around‐the‐clock development, faster time to market, and the liberty of involving the most talented developers across the globe.</td>
									</tr>
									<tr>
										<td>S4</td>
										<td>Electric energy</td>
										<td>There are a number of design activities that support greenness in various phases of software design such as conceptual design, logical design, physical design, data structure and algorithm design. Our findings also show that ‘power-saving software strategies' (70%)’ is the second critical factor for green and sustainable software development.</td>
									</tr>
									<tr>
										<td>S4</td>
										<td>Human resources</td>
										<td>"Sustainable development refers to resource use for meeting the needs of humans while taking into account the ecological, economic, and societal impacts"</td>
									</tr>
									<tr>
										<td>S5</td>
										<td>Electric energy</td>
										<td>"Sustainability is a main concern in our current society. One of the aspects that play an important role in supporting sustainable development is Information Technology (IT). Both software behavior and the way it is developed impact the amount of energy consumption."</td>
									</tr>
									<tr>
										<td>S5</td>
										<td>Monetary cost</td>
										<td>"Green software is an application that produces as little waste as\npossible during its development and operation"</td>
									</tr>
									<tr>
										<td>S6</td>
										<td>Electric energy</td>
										<td>"This may indicate that researchers expect these three contribution types would promote gains in energy efficiency and, consequently, to obtain more sustainable software products"</td>
									</tr>
									<tr>
										<td>S7</td>
										<td>Electric energy</td>
										<td>"Information Technology and, particularly, software can be a means to support the challenges that face sustainable development. It can be used to optimize industrial processes as well as to reduce energy and resource consumption."</td>
									</tr>
									<tr>
										<td>S8</td>
										<td>Electric energy</td>
										<td>"The energy consumption during the software processing is considered as a first order impact."</td>
									</tr>
									<tr>
										<td>S8</td>
										<td>Monetary Cost</td>
										<td>For instance, the energy consumption during the software processing is considered as a first order impact because it directly leads to high costs on energy bills and consequently on the environment.</td>
									</tr>
									<tr>
										<td>S9</td>
										<td>Electric energy</td>
										<td>The interaction between performance efficiency and energy efficiency is what is reported most and there is a fairly positive interaction.</td>
									</tr>
									<tr>
										<td>S9</td>
										<td>E-waste</td>
										<td>"The most common way to address sustainability in software is through energy efficiency [20], [22], but other effects can be considered [10], such as energy usage, E-waste production, emissions caused by required infrastructure (first order effect)"</td>
									</tr>
									<tr>
										<td>S10</td>
										<td>Electric energy</td>
										<td>"Energy-efficiency optimization would manifest during software runtime, while optimization in the software architecture would make the maintenance phase of software more sustainable."</td>
									</tr>
									<tr>
										<td>S10</td>
										<td>Monetary Cost</td>
										<td>"Maintenance process: papers that aim to make the\nmaintenance of a finished product more sustainable\nby, for example, reducing the personal, monetary and\nenvironmental cost"</td>
									</tr>
									<tr>
										<td>S10</td>
										<td>Human resources</td>
										<td>"Maintenance process: papers that aim to make the\nmaintenance of a finished product more sustainable\nby, for example, reducing the personal, monetary and\nenvironmental cost"</td>
									</tr>
									<tr>
										<td>S11</td>
										<td>Electric energy</td>
										<td>"This expresses a need for a more sustainable development (SD) in order to reduce energy consumption and greenhouse emissions (GHG)."</td>
									</tr>
									<tr>
										<td>S12</td>
										<td>Electric energy</td>
										<td>"Tool for estimating the energy consumption of software"</td>
									</tr>
									<tr>
										<td>S12</td>
										<td>Monetary Cost</td>
										<td>"Development process aspect: Sustainability in the initial\nsystem development process (with responsible use of\necological, human, and financial resources)"</td>
									</tr>
									<tr>
										<td>S12</td>
										<td>Human resources</td>
										<td>"Development process aspect: Sustainability in the initial system development process (with responsible use of ecological, human, and financial resources)"</td>
									</tr>
									<tr>
										<td>S13</td>
										<td>Electric energy</td>
										<td>"Creating energy efficient and green software is becoming popular subject rapidly"</td>
									</tr>
									<tr>
										<td>S13</td>
										<td>Monetary Cost</td>
										<td>"Software development multi-sourcing is na emerging global software engineering (GSE) paradigm for producing high quality software at minimum cost and time"</td>
									</tr>
									<tr>
										<td>S13</td>
										<td>Production time</td>
										<td>"Software development multi-sourcing is na emerging global software engineering (GSE) paradigm for producing high quality software at minimum cost and time"</td>
									</tr>
									<tr>
										<td>S14</td>
										<td>Human resources</td>
										<td>energy-efficient, minimizes the environmental impact of the processes it supports, and has a positive impact on social and/or economic sustainability</td>
									</tr>
									<tr>
										<td>S14</td>
										<td>Electric energy</td>
										<td>"We conclude that some software engineering researchers who work in the analyzed area of investigation are missing from the results because they used more specific terms and did not include the more general terms ‘software engineering’, or ‘software specification’, for example in energy efficiency and software quality"</td>
									</tr>
									<tr>
										<td>S14</td>
										<td>Monetary Cost</td>
										<td>energy-efficient, minimizes the environmental impact of the processes it supports, and has a positive impact on social and/or economic sustainability</td>
									</tr>
									<tr>
										<td>S15</td>
										<td>Electric energy</td>
										<td>"In order to make greener software products, software practitioners need actionable timely information, to make useful trade-offs between energy efficiency and other quality attributes, like performance, during development"</td>
									</tr>
									<tr>
										<td>S16</td>
										<td>Monetary Cost</td>
										<td>"Then, Penzenstadler et al. (2013) attached the elements of responsible use of ecological, human and financial resources towards sustainability. Next, Calero et al. (2013) contributed that the consumption of resources can improve the performance of energy used in producing the software product towards sustainability."</td>
									</tr>
									<tr>
										<td>S16</td>
										<td>Human resources</td>
										<td>"Then, Penzenstadler et al. (2013) attached the elements of responsible use of ecological, human and financial resources towards sustainability. Next, Calero et al. (2013) contributed that the consumption of resources can improve the performance of energy used in producing the software product towards sustainability."</td>
									</tr>
									<tr>
										<td>S16</td>
										<td>Electric energy</td>
										<td>"Then, Penzenstadler et al. (2013) attached the elements of responsible use of ecological, human and financial resources towards sustainability. Next, Calero et al. (2013) contributed that the consumption of resources can improve the performance of energy used in producing the software product towards sustainability."</td>
									</tr>
									<tr>
										<td>S17</td>
										<td>Electric energy</td>
										<td>"Reducing energy consumption and carbon footprint, in order to achieve high levels of sustainability"</td>
									</tr>
									<tr>
										<td>S17</td>
										<td>Monetary Cost</td>
										<td>"the use of ICT to improve energy efficiency and reduce costs is the subject of a number of papers in this special theme"</td>
									</tr>
									<tr>
										<td>S17</td>
										<td>Human resources</td>
										<td>"Costs of human factors affecting the software lifecycle"</td>
									</tr>
									<tr>
										<td>S18</td>
										<td>Production time</td>
										<td>In addition we would like to remark the following results. Reusability and Time behavior are two subcharacteristics that we have consider closely related to sustainability however no measures have been founded in this SLR to assess them.</td>
									</tr>
									<tr>
										<td>S19</td>
										<td>Human resources</td>
										<td>Software developers need practical guidance to support sustainability during software development [23], [107]. Although there are scarce results in industrial settings, we can rely on the expert opinion of researchers as a basis for providing some general suggestions. They must be adapted considering the particular settings of the project or organization.</td>
									</tr>
									<tr>
										<td>S19</td>
										<td>Electric Energy</td>
										<td>But other effects can be considered [10], such as energy usage, e-waste production, emissions caused by required infrastructure (first order effect); in addition, there are changes in user behavior caused by software (second order effects); and changes in\nsocial behaviors induced by software systems that erode the benefits of optimizing energy efficiency (third order effect).</td>
									</tr>
									<tr>
										<td>S19</td>
										<td>Electric energy</td>
										<td>Green software definition proposals address the topics of energy consumption and waste reduction during software product life cycle</td>
									</tr>
									<tr>
										<td>S20</td>
										<td>Electric energy</td>
										<td>Where the emphasis has been primarily minimizing power usage for datacenters and technical equipments  (such as desktops, projectors)</td>
									</tr>
									<tr>
										<td>S21</td>
										<td>Monetary Cost</td>
										<td>A long-living software system is sustainable if it can be cost-efficiently maintained and evolved over its entire life-cycle.</td>
									</tr>
									<tr>
										<td>S22</td>
										<td>Monetary Cost</td>
										<td>Long term investment and high return on investment.</td>
									</tr>
									<tr>
										<td>S24</td>
										<td>Electric energy</td>
										<td>Protect the natural capitals such as energy, air, water and optimal utilization of resources</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			
			<table class="table table-bordered table-hover table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 10%; text-align: center;">ID</th>
						<th scope="col" style="width: 60%; text-align: center;">Understanding</th>
						<th scope="col" style="width: 20%; text-align: center;">Resources mentioned</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>S1, S3</td>
						<td>"Global software engineering aims to design, develop, and use a software with limited energy and computing resources." [...] "Software industries have now realized the competitive advantages of the integrated approach for producing high‐quality software with accelerated delivery, minimal cost, and flexibility to manage the requirements even late in the development process" [...] "Efficient utilization of time and computing resources" [...]</td>
						<td>
							<ul>
								<li>Electric energy</li>
								<li>Production time</li> 
								<li>Minimal cost</li>
								<li>Computing resources</li> 
							</ul>
						</td>
					</tr>
					<tr>
						<td>S2</td>
						<td>"Then, a conceptual model is rendered demonstrating the consolidated life cycles of sustainable product and principle sustainable measurement dimensions, such as energy or information efficiency, low cost and human health."</td>
						<td>
							<ul>
								<li> Electric energy</li>
								<li> Cost </li>
								<li> Human Health (human resources)</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S3</td>
						<td>Several studies have been conducted to shift the focus in applying agile principles and practices in GSD to get several benefits, such as lower production cost, around‐the‐clock development, faster time to market, and the liberty of involving the most talented developers across the globe.</td>
						<td>
							<ul>
								<li>Production cost</li> 
								<li>Production time</li> 
								<li>Human resources</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S4</td>
						<td>There are a number of design activities that support greenness in various phases of software design such as conceptual design, logical design, physical design, data structure and algorithm design. Our findings also show that ‘power-saving software strategies' (70%)’ is the second critical factor for green and sustainable software development. [...] Sustainable development refers to resource use for meeting the needs of humans while taking into account the ecological, economic, and societal impacts [...]</td>
						<td>
							<ul>
								<li> Energy</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S5</td>
						<td>"Sustainability is a main concern in our current society. One of the aspects that play an important role in supporting sustainable development is Information Technology (IT). Both software behavior and the way it is developed impact the amount of energy consumption."</td>
						<td>
							<ul>
								<li> Energy consuption</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S6</td>
						<td>"This may indicate that researchers expect these three contribution types would promote gains in energy efficiency and, consequently, to obtain more sustainable software products"</td>
						<td>
							<ul>
								<li> Energy</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S7</td>
						<td>"Information Technology and, particularly, software can be a means to support the challenges that face sustainable development. It can be used to optimize industrial processes as well as to reduce energy and resource consumption."</td>
						<td>
							<ul> 
								<li>Energy</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S8</td>
						<td>"The energy consumption during the software processing is considered as a first order impact because it directly leads to high costs on energy bills and consequently on the environment."</td>
						<td>
							<ul>
								<li> Energy </li>
								<li> Monetary cost</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S9</td>
						<td>The most common way to address sustainability in software is through energy efficiency, but other effects can be considered, such as energy usage, E-waste production, emissions caused by required infrastructure (first order effect) [...] The interaction between performance efficiency and energy efficiency is what is reported most and there is a fairly positive interaction.</td>
						<td>
							<ul>
								<li>Electric energy</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S10</td>
						<td>"Energy-efficiency optimization would manifest during software runtime, while optimization in the software architecture would make the maintenance phase of software more sustainable." [...] Maintenance process: papers that aim to make the maintenance of a finished product more sustainable by, for example, reducing the personal, monetary and environmental cost</td>
						<td>
							<ul>
								<li> Monetary cost</li> 
								<li> Personal cost </li>
								<li> Environmental cost </li>
								<li>Electric energy </li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S11</td>
						<td>"This expresses a need for a more sustainable development (SD) in order to reduce energy consumption and greenhouse emissions (GHG)."</td>
						<td>
							<ul>
								<li> Electric energy</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S12</td>
						<td>"Tool for estimating the energy consumption of software" [...] "Development process aspect: Sustainability in the initial system development process (with responsible use of\necological, human, and financial resources)" [...]</td>
						<td>
							<ul>
								<li> Energy </li> 
								<li> Financial Resources</li> 
								<li> Human resources</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S13</td>
						<td>"Creating energy efficient and green software is becoming popular subject rapidly" [...] Software development multi-sourcing is na emerging global software engineering (GSE) paradigm for producing high quality software at minimum cost and time.</td>
						<td>
							<ul>
								<li> Electric energy </li>
								<li> Monetary Cost</li> 
								<li> production time</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S14</td>
						<td>Energy-efficient, minimizes the environmental impact of the processes it supports, and has a positive impact on social and/or economic sustainability</td>
						<td>
							<ul>
								<li> Energy </li> 
								<li> Human resources </li> 
								<li> Monetary Cost</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S15</td>
						<td>"In order to make greener software products, software practitioners need actionable timely information, to make useful trade-offs between energy efficiency and other quality attributes, like performance, during development"</td>
						<td>
							<ul>
								<li> Energy </li>
								<li> Practitioners need information </li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S16</td>
						<td>"Then, Penzenstadler et al. (2013)  attached the elements of responsible use of ecological, human and financial resources towards sustainability. Next, Calero et al. (2013) contributed that the consumption of resources can improve the performance of energy used in producing the software product towards sustainability."</td>
						<td>
							<ul>
								<li> Ecological </li>
								<li> Financial resources </li>
								<li> Human resources</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S17</td>
						<td>"Reducing energy consumption and carbon footprint, in order to achieve high levels of sustainability" [...] the use of ICT to improve energy efficiency and reduce costs is the subject of a number of papers in this special theme [...] Costs of human factors affecting the software lifecycle</td>
						<td>
							<ul>
								<li> Electric Energy </li> 
								<li> Monetary cost</li> 
								<li> Human Factors</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S18</td>
						<td>In addition we would like to remark the following results. Reusability and Time behavior are two subcharacteristics that we have consider closely related to sustainability however no measures have been founded in this SLR to assess them.</td>
						<td>
							<ul>
								<li> Production time </li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S19</td>
						<td>Software developers need practical guidance to support sustainability during software development. Although there are scarce results in industrial settings, we can rely on the expert opinion of researchers as a basis for providing some general suggestions. They must be adapted considering the particular settings of the project or organization. But other effects can be considered [10], such as energy usage, e-waste production, emissions caused by required infrastructure (first order effect); in addition, there are changes in user behavior caused by software (second order effects); and changes in social behaviors induced by  software systems that erode the benefits of optimizing energy efficiency (third order effect).</td>
						<td>
							<ul>
								<li> Human resources </li> 
								<li> Energy </li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>S20</td>
						<td>Where    the    emphasis    has    been    primarily  minimizing  power  usage  for  datacenters  and  technical  equipments   (such   as   desktops,   projectors)</td>
						<td>
							<ul>
								<li> Electric energy</li>
							</ul>
						</tr>
						<tr>
							<td>S21</td>
							<td>A long-living software system is sustainable if it can be cost-efficiently maintained and evolved over its entire life-cycle.</td>
							<td> 
								<ul>
									<li> Monetary cost</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>S22</td>
							<td>Long term investment and high return on investment.</td>
							<td>
								<ul>
									<li> Monetary Cost </li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>S24</td>
							<td>Protect the natural capitals such as energy, air, water and optimal utilization of resources</td>
							<td>
								<ul>
									<li>Electric energy</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>


				<a href="reference.html" class="btn btn-warning">See references</a>
			</div>
		</body>

		</html>