<!doctype html>
	<html lang="en">
	<head>
		<!-- Required meta tags -->


		<title>Sustainable Software Systems: The Core Characteristics and Their Achievement</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="resources/css/style.css">
		<script type="text/javascript" src="resources/js/functions.js"></script>
	</head>
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href="../index.html">Index <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ1 - summarizes the current understandings to define what are exactly sustainable software systems" href="RQ1-understandings.html">Understandings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" title="RQ2 - summarizes the resources taken into account when considering sustainability in software systems" href="RQ2-resources.html">Resources</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" title="RQ3 - Summarizes the critical factors that hamper or contribute for developing sustainable software" href="RQ3-criticalfactors.html">Critical Factors</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ4.1 - summarizes approaches mentioned in recent literature to achieve sustainable software" href="RQ4.1-approaches.html">Approaches</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="RQ4.2 - summarizes guidelines to achieve sustainable software" href="RQ4.2-guidelines.html">Guidelines</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" title="See the full list of references" href="references.html">References</a>
				</li>
			</ul>
		</div>
	</nav>
	<body>
		<div class="container">
			<h1 class="jumbotron jumbotron-fluid display-4" style="font-size: 2.5em;text-align:center; margin-top:2.5em"> Sustainable Software Systems: The Core Characteristics and Their Achievement</h1>
				<div style="margin-bottom: 2em;">Sustainable software is fully aligned with the sustainability goals, thus, to develop sustainable systems it is necessary to understand the factors that hamper or contribute to sustainability. Table below provides a complete list of text passages and the factors that are considered critical for sustainable software systems.
			</div>
			<table class="table table-bordered table-hover table-striped" style="text-align: center;">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Study</th>
						<th>Citation</th>
						<th>Factor</th>
						<th>Success/Risk</th>
						<th>Classification</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>[1][3][23]</td>
						<td>Rich communication and collaboration</td>
						<td>Comunication and colaboration</td>
						<td>Success</td>
						<td>Communication</td>
					</tr>
					<tr>
						<td>2</td>
						<td>[2][4][13]</td>
						<td>Develop and generate forms consistently minimize their utilization of regular power and resources</td>
						<td>Energy Consume</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>3</td>
						<td>[2]</td>
						<td>Power usage is a primary perspective from environment circle of triple base of Sustainability</td>
						<td>Energy Consume</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>4</td>
						<td>[19]</td>
						<td>Ill-chosen energy-saving libraries</td>
						<td>Energy-saving libraries</td>
						<td>Risk</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>7</td>
						<td>[4][13]</td>
						<td>Filtration of requirements through green evaluator</td>
						<td>Green Evaluator</td>
						<td>Success</td>
						<td>Tools</td>
					</tr>
					<tr>
						<td>8</td>
						<td>[4][13]</td>
						<td>Efficient estimation strategies</td>
						<td>Efficient estimation strategies</td>
						<td>Success</td>
						<td>Measures / Metrics</td>
					</tr>
					<tr>
						<td>9</td>
						<td>[3][4][13][23]</td>
						<td>Efficient resources utilization</td>
						<td>Resource utilization</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>10</td>
						<td>[4][13]</td>
						<td>Paperless Comunication</td>
						<td>Technologies for communication</td>
						<td>Success</td>
						<td>Communication</td>
					</tr>
					<tr>
						<td>11</td>
						<td>[4][13]</td>
						<td>Green utilization of the software</td>
						<td>Resource utilization</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>12</td>
						<td>[4][13]</td>
						<td>Software reusability</td>
						<td>Software reusability</td>
						<td>Success</td>
						<td>Reuse / Refactor</td>
					</tr>
					<tr>
						<td>13</td>
						<td>[19]</td>
						<td>Use of Refactoring techniques</td>
						<td>Refactoring techniques</td>
						<td>Success</td>
						<td>Reuse / Refactor</td>
					</tr>
					<tr>
						<td>14</td>
						<td>[19]</td>
						<td>Using security applications, Incorporating an encryption element in software architecture</td>
						<td>Security applications and encryption</td>
						<td>Risk</td>
						<td>Security</td>
					</tr>
					<tr>
						<td>15</td>
						<td>[19]</td>
						<td>Filtering adware in mobile systems</td>
						<td>Filter adware in mobile systems</td>
						<td>Risk</td>
						<td>Security</td>
					</tr>
					<tr>
						<td>16</td>
						<td>[1][3][4]</td>
						<td>Green and sustainable management of product life cycle</td>
						<td>Product life-cycle and Project management</td>
						<td>Success</td>
						<td>Sustainable Practices</td>
					</tr>
					<tr>
						<td>17</td>
						<td>[2]</td>
						<td>Acquisition and use fallout must be persistently assessed and enhanced</td>
						<td>Aquisition and use fallout assessment and improvement</td>
						<td>Success</td>
						<td>Sustainable Practices</td>
					</tr>
					<tr>
						<td>22</td>
						<td>[4][13]</td>
						<td>Green project management</td>
						<td>Product life-cycle and Project management</td>
						<td>Success</td>
						<td>Sustainable Practices</td>
					</tr>
					<tr>
						<td>23</td>
						<td>[4][13]</td>
						<td>Provision of green infrastructure</td>
						<td>Green infrastructure</td>
						<td>Success</td>
						<td>Sustainability Planning</td>
					</tr>
					<tr>
						<td>24</td>
						<td>[13]</td>
						<td>Softwares focused on time-to-market force and are often less conversant about green software practices and techniques\n</td>
						<td>Time-to-market pressure</td>
						<td>Risk</td>
						<td>Sustainability Planning</td>
					</tr>
					<tr>
						<td>25</td>
						<td>[16]</td>
						<td>High importance of concrete sustainability goals</td>
						<td>Sustainability goals</td>
						<td>Success</td>
						<td>Sustainability Planning</td>
					</tr>
					<tr>
						<td>26</td>
						<td>[8]</td>
						<td>Write energy efficient codes that minimize the use of system resources.</td>
						<td>Energy efficient Coding</td>
						<td>Success</td>
						<td>Efficient Coding</td>
					</tr>
					<tr>
						<td>27</td>
						<td>[4][13]</td>
						<td>Green graphical user interface</td>
						<td>Graphical user interface</td>
						<td>Success</td>
						<td>Efficient Coding</td>
					</tr>
					<tr>
						<td>28</td>
						<td>[19]</td>
						<td>Transform code using desing patterns</td>
						<td>Design Patterns</td>
						<td>Success</td>
						<td>Efficient Coding</td>
					</tr>
					<tr>
						<td>29</td>
						<td>[19]</td>
						<td>Use Program analisys techniques</td>
						<td>Program analysis techniques</td>
						<td>Success</td>
						<td>Efficient Coding</td>
					</tr>
					<tr>
						<td>30</td>
						<td>[1][3]</td>
						<td>Polymorphic design</td>
						<td>Polymorphic Design</td>
						<td>Success</td>
						<td>Sustainable design</td>
					</tr>
					<tr>
						<td>31</td>
						<td>[2][4][13]</td>
						<td>Proper requirement engineering</td>
						<td>Requirement engineering</td>
						<td>Success</td>
						<td>Sustainable design</td>
					</tr>
					<tr>
						<td>32</td>
						<td>[4][13]</td>
						<td>Green economy</td>
						<td>Resource utilization</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>33</td>
						<td>[3][16]</td>
						<td>High costs for sustainable development</td>
						<td>Monetary Cost</td>
						<td>Risk</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>34</td>
						<td>[1][3]</td>
						<td>Minimal documentation</td>
						<td>Minimal documentation</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>35</td>
						<td>[1][3]</td>
						<td>Continuous validation</td>
						<td>Continous validation</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>37</td>
						<td>[4][13]</td>
						<td>Low carbon emission throughout the software development process</td>
						<td>Carbon emission</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>38</td>
						<td>[4][13]</td>
						<td>Sustainable maintenance of the software</td>
						<td>Maintenance</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>39</td>
						<td>[4][13][22][23]</td>
						<td>Sustainable testing</td>
						<td>Testing</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>40</td>
						<td>[4][13]</td>
						<td>Use of agile strategies</td>
						<td>Agile strategies</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>41</td>
						<td>[4][13]</td>
						<td>Software flexibility</td>
						<td>Flexibility</td>
						<td>Success</td>
						<td>Flexibility</td>
					</tr>
					<tr>
						<td>42</td>
						<td>[4][13]</td>
						<td>Legacy systems support</td>
						<td>Legacy system support</td>
						<td>Success</td>
						<td>Flexibility</td>
					</tr>
					<tr>
						<td>43</td>
						<td>[16][22]</td>
						<td>Lack of motivation for sustainable development</td>
						<td>Motivation for sustantable development</td>
						<td>Risk</td>
						<td>Team Motivation</td>
					</tr>
					<tr>
						<td>44</td>
						<td>[1]</td>
						<td>Efficient utilization of time and computing resources</td>
						<td>Resource utilization</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>45</td>
						<td>[19]</td>
						<td>Bad use of Programming languages, runtime scope of android-based systems, video quality level, sorting algorithms, video compression strategies, using libraries and frameworks, compiler optimization flags, data structures, web server, web application features, PHP frameworks, program size, using cache</td>
						<td>Bad use of Programming languages, runtime scope of android-based systems, video quality level, sorting algorithms, video compression strategies, using libraries and frameworks, compiler optimization flags, data structures, web server, web application features, PHP frameworks, program size, using cache</td>
						<td>Risk</td>
						<td>Technical excellence</td>
					</tr>
					<tr>
						<td>47</td>
						<td>[4][13]</td>
						<td>Use of cloud for software distribution</td>
						<td>Cloud for software distribution</td>
						<td>Success</td>
						<td>Tools</td>
					</tr>
					<tr>
						<td>48</td>
						<td>[19]</td>
						<td>Improve usability of: recommender system, carbon footprint calculator. Using UI-based design techniques</td>
						<td>Carbon footprint calculator</td>
						<td>Success</td>
						<td>Tools</td>
					</tr>
					<tr>
						<td>49</td>
						<td>[19]</td>
						<td>Practices for enhancing performance of mobile devices, compressing file streams, memoization techniques, filtering ads in mobile web-based systems, energy-aware libraries</td>
						<td>Mobile devices performance, compressing, memoization techniques, ads filter, energy-aware libraries</td>
						<td>Success</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>50</td>
						<td>[3][4][13]</td>
						<td>E-waste management</td>
						<td>E-waste management</td>
						<td>Success</td>
						<td>E-waste</td>
					</tr>
					<tr>
						<td>51</td>
						<td>[4][13]</td>
						<td>Green application development environment</td>
						<td>Green application development environment</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>52</td>
						<td>[3]</td>
						<td>Limited support for real-time systems and large systems</td>
						<td>Support for real-time systems and large systems</td>
						<td>Risk</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>53</td>
						<td>[3]</td>
						<td>Management overhead</td>
						<td>Management overhead</td>
						<td>Risk</td>
						<td>Team Management</td>
					</tr>
					<tr>
						<td>54</td>
						<td>[3]</td>
						<td>Lack of customer’s presence</td>
						<td>Customer presence and knowledge</td>
						<td>Risk</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>55</td>
						<td>[3][22]</td>
						<td>Insufficient knowledge of the customer.</td>
						<td>Customer presence and knowledge</td>
						<td>Risk</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>56</td>
						<td>[3]</td>
						<td>Lack of long term planning</td>
						<td>Long-term planning</td>
						<td>Risk</td>
						<td>Sustainability Planning</td>
					</tr>
					<tr>
						<td>57</td>
						<td>[3]</td>
						<td>Lack of formal communication</td>
						<td>Comunication and colaboration</td>
						<td>Risk</td>
						<td>Communication</td>
					</tr>
					<tr>
						<td>58</td>
						<td>[3]</td>
						<td>Limited support for reusability</td>
						<td>Software reusability</td>
						<td>Risk</td>
						<td>Reuse / Refactor</td>
					</tr>
					<tr>
						<td>59</td>
						<td>[3]</td>
						<td>Accelerated delivery</td>
						<td>Delivery</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>60</td>
						<td>[3]</td>
						<td>Continuous integration</td>
						<td>Software continous validation and integration</td>
						<td>Success</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>61</td>
						<td>[3]</td>
						<td>Flexibility towards change</td>
						<td>Flexibility</td>
						<td>Success</td>
						<td>Flexibility</td>
					</tr>
					<tr>
						<td>62</td>
						<td>[3]</td>
						<td>Improved quality</td>
						<td>Quality</td>
						<td>Success</td>
						<td>Technical excellence</td>
					</tr>
					<tr>
						<td>63</td>
						<td>[3]</td>
						<td>Iterative development</td>
						<td>Iterative development</td>
						<td>Success</td>
						<td>Sustainable design</td>
					</tr>
					<tr>
						<td>64</td>
						<td>[3]</td>
						<td>Minimal reengineering</td>
						<td>Minimal reengineering</td>
						<td>Success</td>
						<td>Sustainable design</td>
					</tr>
					<tr>
						<td>65</td>
						<td>[3]</td>
						<td>Optimization of processes and code</td>
						<td>Processes and code</td>
						<td>Success</td>
						<td>Efficient coding</td>
					</tr>
					<tr>
						<td>66</td>
						<td>[22]</td>
						<td>Lack of methodologies and tool support</td>
						<td>Support tools</td>
						<td>Risk</td>
						<td>Tools</td>
					</tr>
					<tr>
						<td>67</td>
						<td>[22]</td>
						<td>Lack of education</td>
						<td>Knowledge Management</td>
						<td>Risk</td>
						<td>Knowledge management</td>
					</tr>
					<tr>
						<td>68</td>
						<td>[22]</td>
						<td>Lack of experience</td>
						<td>Experience</td>
						<td>Risk</td>
						<td>Team Skills</td>
					</tr>
					<tr>
						<td>69</td>
						<td>[22]</td>
						<td>Poor adaptation of sustainability practice</td>
						<td>Adaptation of sustainability practice</td>
						<td>Risk</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>70</td>
						<td>[22]</td>
						<td>Varying and unidentified situations</td>
						<td>Varying and unidentified situations</td>
						<td>Risk</td>
						<td>Sustainability Planning</td>
					</tr>
					<tr>
						<td>71</td>
						<td>[22]</td>
						<td>Lack of higher management support</td>
						<td>Higher management support</td>
						<td>Risk</td>
						<td>Team management</td>
					</tr>
					<tr>
						<td>72</td>
						<td>[22]</td>
						<td>Poor communication of sustainability values</td>
						<td>Comunication and colaboration</td>
						<td>Risk</td>
						<td>Communication</td>
					</tr>
					<tr>
						<td>73</td>
						<td>[22]</td>
						<td>Unavailability of resources</td>
						<td>Resource utilization</td>
						<td>Risk</td>
						<td>Resource utilization</td>
					</tr>
					<tr>
						<td>74</td>
						<td>[22]</td>
						<td>Time pressure</td>
						<td>Time pressure</td>
						<td>Risk</td>
						<td>Team management</td>
					</tr>
					<tr>
						<td>75</td>
						<td>[22]</td>
						<td>Lack of software engineer ethical and responsible behavior</td>
						<td>Competencies, skills, experience, productivity, ethical behavior</td>
						<td>Risk</td>
						<td>Team Skills</td>
					</tr>
					<tr>
						<td>76</td>
						<td>[22]</td>
						<td>Lack of sustainable software engineering practices</td>
						<td>Sustainable software guidelines and practices</td>
						<td>Risk</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>77</td>
						<td>[22]</td>
						<td>Lack of satisfaction of software engineer with their job, facilities, and work environment</td>
						<td>Satisfaction with work enviroment</td>
						<td>Risk</td>
						<td>Team Motivation</td>
					</tr>
					<tr>
						<td>78</td>
						<td>[22]</td>
						<td>Variation in the productivity of individual software engineers</td>
						<td>Variation in productivity</td>
						<td>Risk</td>
						<td>Team management</td>
					</tr>
					<tr>
						<td>79</td>
						<td>[22]</td>
						<td>Lack of sustainable software engineering guidelines</td>
						<td>Sustainable software guidelines and practices</td>
						<td>Risk</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>80</td>
						<td>[22]</td>
						<td>Lack of competencies, skills, efficiency, and productivity of software engineers</td>
						<td>Competencies, skills, experience, productivity, ethical behavior</td>
						<td>Risk</td>
						<td>Team Skills</td>
					</tr>
					<tr>
						<td>81</td>
						<td>[22]</td>
						<td>Lack of understanding of the difference between individual and social sustainability dimensions</td>
						<td>knowledge about sustainability</td>
						<td>Risk</td>
						<td>Team training</td>
					</tr>
					<tr>
						<td>82</td>
						<td>[22]</td>
						<td>Lack of awareness of sustainable software engineering practices</td>
						<td>knowledge about sustainability</td>
						<td>Risk</td>
						<td>Team training</td>
					</tr>
					<tr>
						<td>83</td>
						<td>[22]</td>
						<td>Lack of sustainable software engineering degree programs</td>
						<td>knowledge about sustainability</td>
						<td>Risk</td>
						<td>Team training</td>
					</tr>
					<tr>
						<td>84</td>
						<td>[22]</td>
						<td>Lack of information and communication technologies</td>
						<td>Technologies for communication</td>
						<td>Risk</td>
						<td>Communication</td>
					</tr>
					<tr>
						<td>85</td>
						<td>[23]</td>
						<td>Efficient Knowledge sharing</td>
						<td>Knowledge Management</td>
						<td>Success</td>
						<td>Knowledge management</td>
					</tr>
					<tr>
						<td>86</td>
						<td>[23]</td>
						<td>Source Code Change Attributes</td>
						<td>Source code atributes and documentation changes</td>
						<td>Risk</td>
						<td>Efficient coding</td>
					</tr>
					<tr>
						<td>87</td>
						<td>[23]</td>
						<td>Source Code Change Documentation</td>
						<td>Source code atributes and documentation changes</td>
						<td>Risk</td>
						<td>Efficient coding</td>
					</tr>
					<tr>
						<td>88</td>
						<td>[23]</td>
						<td>Defect</td>
						<td>Defect</td>
						<td>-</td>
						<td>Technical excellence</td>
					</tr>
					<tr>
						<td>89</td>
						<td>[23]</td>
						<td>Review Concentration</td>
						<td>Review Concentration</td>
						<td>-</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>90</td>
						<td>[23]</td>
						<td>Organization policy, practices, standarts, attributes</td>
						<td>Organization policy, practices, standarts, attributes.</td>
						<td>-</td>
						<td>Team management</td>
					</tr>
					<tr>
						<td>91</td>
						<td>[23]</td>
						<td>Project Attributes</td>
						<td>Project attributes and release management</td>
						<td>-</td>
						<td>Sustainability planning</td>
					</tr>
					<tr>
						<td>92</td>
						<td>[23]</td>
						<td>Project Release Management</td>
						<td>Project attributes and release management</td>
						<td>-</td>
						<td>Sustainable practices</td>
					</tr>
					<tr>
						<td>93</td>
						<td>[23]</td>
						<td>Technology Maturity</td>
						<td>Technology maturity and accessibility</td>
						<td>-</td>
						<td>Technical Excellence</td>
					</tr>
					<tr>
						<td>94</td>
						<td>[23]</td>
						<td>Technology Accessibility</td>
						<td>Technology maturity and accessibility</td>
						<td>-</td>
						<td>Technical Excellence</td>
					</tr>
					<tr>
						<td>95</td>
						<td>[23]</td>
						<td>Training</td>
						<td>Training</td>
						<td>- </td>
						<td>Team training</td>
					</tr>
				</tbody>
			</table>

			<a href="../index.html" class="btn btn-warning">Return to index</a>
			<a href="reference.html" class="btn btn-warning" style="margin: 20px">See references</a>


		</div>
	</body>
	</html>